{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Searched word: {{ word_researched }}</h1>

        {% for item in all_reviews %}
            <div class="card m-3">
                <div class="card-header">
                    Review written by: <span class="fw-bold">{{ item.author }}</span>
                    on: <span class="fw-bold">{{ item.date }}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.body }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
