<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Search Review</title>
</head>

<style>
    .orange {
        color: orangered;
    }

    .back_blue {
        background-color: #38549c;
    }

    {% block css %}
    {% endblock %}
</style>

<body>
<nav class="navbar navbar-expand-lg navbar-dark back_blue">
    <div class="container nav-cont" id="nav">
        <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">
            <span class="orange">Search</span>Review</a>

        <form class="form-inline d-flex " method=POST action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2 d-inline-block " type="search" placeholder="Search" aria-label="Search"
                   name="searchname">
            <button class="btn btn-outline-secondary my-sm-0 d-inline-block ms-3" type="submit">Search</button>
        </form>

    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>